@import "functions";
@import "variables";

@import "mixins/breakpoints";
//   @import "mixins/grid-framework";
//   @import "mixins/grid";

//   @import "grid";
@import "utilities/display";
@import "utilities/borders";
@import "utilities/flex";
@import "utilities/spacing";

// overwrite
.no-gutter {
  margin-left: 0;
  margin-right: 0;
}

.no-gutter > [class*="col-"] {
  padding-right: 0;
  padding-left: 0;
}

.vue-qb-selector label {
  padding-left: 0;
}
